---
import "./Navbar.scss"
---
<header class="header">
    <nav class="navbar">
        <ul class="navbar_list">
            <li class="navbar_items">
                <a class="items_link" href="#">Gmail</a>
            </li>
            <li class="navbar_items">
                <a class="items_link" href="#">Imagenes</a>
            </li>
            <li class="navbar_items">
                <a class="items_link" href="#">
                    <img src="../../../public/icon-labs.svg" alt="labs">
                </a>
            </li>
            <li class="navbar_items">
                <a class="items_link" href="#">
                    <img src="../../../public/icon-menu.svg" alt="menu">
                </a>
            </li>
            <li class="navbar_items">
                <a class="items_link" href="#">
                    <img src="../../../public/icon-user.svg" alt="user">
                </a>
            </li>
        </ul>
    </nav>
</header>