@use '../../styles/mixins';
@use '../../styles/variables';

.header{
    padding: 8px;
}

.navbar{
    min-width: 320px;
    display: flex;
    justify-content: end;
    align-items: center;

    &__group{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
    }

    &__icon{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            opacity: 95%;
            background-color: variables.$color-whiteup;
            border-radius: 50px;
        }
        
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        @include mixins.text-sm;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }

    }
}

.icon{
    width: 36px;
    height: 36px;
}
