@use '../../styles/mixins';
@use '../../styles/variables';

.header{
  min-width: 320px;
  
}

.navbar{
  padding: 8px;

  &__list{
    padding: 0 8px;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 4px;
  }

  &__items{
    min-width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link{
    @include mixins.text-sm;
    text-decoration: none;
    

    &:hover{
      text-decoration: underline 2px;
    }
  }

  &__icon{
    cursor: pointer;
    
    &:hover{
      border-radius: 50%;
      background-color: variables.$color-whiteup;
      border-color: variables.$color-gray;
    }
  }

}
