---
import './Navbar.scss'
---

<header class="header">
  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__items">
        <a class="navbar__link" href="#">Gmail</a>
      </li>
      <li class="navbar__items">
        <a class="navbar__link" href="#">Imagenes</a>
      </li>
      <li class="navbar__items">
        <a class="navbar__link" href="#">
          <img class="navbar__icon" src="../../../public/icon-labs.svg" alt="">
        </a>
      </li>
      <li class="navbar__items">
        <a class="navbar__link" href="#">
          <img class="navbar__icon" src="../../../public/icon-menu.svg" alt="">
        </a>
      </li>
      <li class="navbar__items">
        <a class="navbar__link" href="#">
          <img class="navbar__icon" src="../../../public/icon-user.svg" alt="">
        </a>
      </li>
    </ul>
  </nav>
</header>