$color-blue: #4285F4;
$color-red: #EA4335;
$color-yellow: #FBBC05;
$color-green: #00897B;
$color-gray: #5F6368;
$color-blackdown: #303134;
$color-blackup: #202124;
$color-black: #171717;
$color-white: #FFFFFF;
$color-whitedown: #F8F9FA;
$color-whiteup: #E8E8E8;

$family-type: 'Arial', sans-serif;

$size-lg: 1.8em;
$size-md: 1.6em;
$size-sm: 1.4em;

$bold-weight: 700;
$bold-regular: 400;

$mobile: 320px;
$desktop: 1024px;